<!DOCTYPE html>
<html>
  <body bgcolor="orange">
    <font face="arial">
      <h1>
      Application Center
      </h1>
      <form action="applied" method="post">
      <label for="text">Scratch Username</label>
        <input type="text" name="username" value="" required>
      <br>
        
      <label for="text">Job (Choose from one of the jobs from the homepage of the forum)</label>
      <input type="text" name="job" value="" required>
      <br>
        <label for="text">Link to example of work</label>
    <input type="text" name="work" value="" required><br>
      <label for="text">Other info</label>
        <input type="text" name="other" value="" required><br>
    
  
    <input type="submit" value="Apply">
    
    
      </form>
    </font>
    </body>
  </html>
    